/* --- SOGLIA: Sotto i 1040px --- */
@media (max-width: 1040px) {


    /* 2. Nascondi la scritta "All Sections" (ma lascia l'hamburger) */
    #menu-toggle span {
        display: none !important;
    }

    /* Riduciamo leggermente il contenitore per dare più spazio al logo */
    .All-selections-sideBar-container {
        font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    }
}

/* Nascondi i bottoni e mostra l'icona esattamente a 1040px */
@media (max-width: 1040px) {
    .d-lg-flex {
        display: none !important; /* Forza la scomparsa dei bottoni */
    }
    .user-dropdown-icon {
        display: flex !important; /* Forza la comparsa dell'omino */
        cursor: pointer;
    }
}

/* Assicurati che sopra i 1040px l'icona sia nascosta */
@media (min-width: 1041px) {
    .user-dropdown-icon {
        display: none !important;
    }
}





/*---Visualizzazione del Titolo della navbar---*/
/* Lo mostriamo di default (per schermi sotto i 1040px) */
#navbar-title-first-row {
    display: block;
}

@media (min-width: 1040px) {
    #navbar-title-first-row {
        display: none !important;
    }

    /* Questa classe verrà aggiunta dal JS per farlo apparire su desktop dopo lo scroll */
    #navbar-title-first-row.force-show {
        display: block !important;
    }
}

@media (max-width: 576px) {
    .navbar--title {
        /* Il font diventa fluido solo qui o si imposta un valore più piccolo */
        font-size: clamp(0.0005rem, 8vw, 3rem) !important;
    }
}

/*------------------------------
 VISUALIZZAZIONE WHERTHER CONTAINER 1040PX
-------------------------------- */
@media (max-width: 1039px) {
    #leftNavbar--wheatherContainer {
        display: flex !important; /* Mostra quello della prima riga/sidebar */
    }

}

/* --- REGOLA PER IL DESKTOP (Da 1040px in su) --- */
@media (min-width: 1040px) {
    #leftNavbar--wheatherContainer {
        display: none !important; /* Nasconde quello della prima riga */
    }

}



/* 1. Nascondiamo il contenitore di base (per tutti gli schermi sotto i 1040px) */
#headerContainer__disappearingContainer {
    display: none !important;
}

/* 2. Lo mostriamo solo quando la larghezza è di almeno 1040px */
@media (min-width: 1040px) {
    #headerContainer__disappearingContainer {
        display: flex !important; /* Usiamo flex per mantenere le classi flex-nowrap attive */
    }
}